{% extends 'base.html' %}

{% block content %}

<h1>{{ recipe.name }}</h1>

<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="col s4">
        <h6><strong>Ingredients:</strong></h6>
        {% for item in items %}
          <p>{{ item }}</p>
        {% endfor %}
      </div>
      <div class="col s4">
        <h6><strong>Directions:</strong></h6>
        <ol>
          {% for step in steps %}
            <li>{{ step }}.</li>
          {% endfor %}
      </ol>
      </div>
      <div class="col s4">
        <h6>Add Review:</h6>
        <form action="{% url 'add_review' recipe.id %}" method="post">
          {% csrf_token %}
          {{ review_form.as_p }}
          <input type="submit" class="btn" value="Add Review">
        </form>
        <br><br>
        <h6>Add Modification:</h6>
        <form action="{% url 'add_modification' recipe.id %}" method="post">
          {% csrf_token %}
          {{ modification_form.as_p }}
          <input type="submit" class="btn" value="Add Modification">
        </form>
      </div>
    </div>
  </div>
  {% if user.id == recipe.user_id %}
  <div class="card-action">
    <a class="btn" href="{% url 'recipe_update' recipe.id %}">Edit</a>
    <a class="btn" href="{% url 'recipe_delete' recipe.id %}">Delete</a>
  </div>
  {% endif %}
</div>
<div class="row">
  <div class="col s6">
    <h5>Reviews:</h5>
    <div class="card">
      <div class="card-content">
        {% for review in recipe.review_set.all %}
        <p>{{ review.rating }}/5 stars ~ {{ review.comment }}</p>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="col s6">
    <h5>Modifications:</h5>
    <div class="card">
      <div class="card-content">
        {% for modification in recipe.modification_set.all %}
        <p>{{ modification.content }}</p>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
  var selectEl = document.getElementById('id_rating');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}