{% extends 'base.html' %}

{% block content %}

<html class="home-bg">



<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://images.pexels.com/photos/1407857/pexels-photo-1407857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" > <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to BAM!</h3>
          <h5 class="light grey-text text-lighten-3">A community cookbook filled with user-based recipes</h5>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/3979423/pexels-photo-3979423.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> <!-- random image -->
        <div class="caption left-align">
          <h3 style="color:black" position="bottom">Try our best recipes!</h3>
          <h5 style="color:black" class="light black-text text-lighten-1"> See Creators' recipes below.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/1660030/pexels-photo-1660030.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> <!-- random image -->
        <div class="caption right-align ">
          <h3 style="color:black" position="bottom">Stay Healthy</h3>
          <h5 style="color:black" class="light black-text text-lighten-1">Eat Healthy and enjoy the food!</h5>
        </div>
      </li>
      <li>
        <img src="https://media.giphy.com/media/2xPS9bJpkDXWvgcW4L/giphy.gif"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="slider-headline" style="color:black" position="bottom">  Feel like a chef with BAM!!!!!</h3>
        </div>
      </li>
    </ul>
  </div>



<!--Code for future API Field
{% comment %} Search area {% endcomment %}
<section id="search" class="section section-search black white-text 
center scrollspy">
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>Search for Recipes </h4>
            <div class="input-field">
                <input type="text" class="white grey-text autocomplete" id="autocomplete-input" placeholder="Find the most delicious recipe here!">
                <input class="btn btn-default" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
 </section> -->
 <br>
{% comment %} section favorite food {% endcomment %}

  <section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center">BAM's
          <span class="teal-text">Favorite</span> Recipes</h4>
          <a href="https://cooking-with-bam.herokuapp.com/recipes/4/">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image" height="150" width="42">
              <span class="card-title"></span>
            </div>
            <div class="card-content" "text-align:center" >
              <h6 style="color:black">Alfonso's Roasted Chicken 
              </h6>
            </div>
          </div>
        </div>
          </a>
          <a href="https://cooking-with-bam.herokuapp.com/recipes/6/">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://www.momontimeout.com/wp-content/uploads/2018/10/homemade-mac-and-cheese-recipe-titled-500x375.jpg" alt="Image" height="150" width="42">
              <span class="card-title"></span>
            </div>
            <div class="card-content" "text-align:center">
             <h6 style="color:black"> Matty's Mac & Cheese
              </h6>
            </div>
          </div>
        </div>
        </a>
          <a href="https://cooking-with-bam.herokuapp.com/recipes/15/"> 
        <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="https://assets.bonappetit.com/photos/57acf62a53e63daf11a4dbee/master/pass/best-ever-grilled-cheese.jpg" alt="Image" height="150" width="42">
                <span class="card-title"></span>
              </div>
              <div class="card-content" "text-align:center">
                <h6 style="color:black"> Brandon's Grilled Cheese</h6>
              </div>
            </div>
        </div>
          </a>
      </div>
      
      </div>
    </div>
  </section>



  
{% endblock %}