{% extends 'base.html' %}

{% block content %}

<html class="home-bg">



<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://images.pexels.com/photos/1407857/pexels-photo-1407857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" > <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to BAM!</h3>
          <h5 class="light grey-text text-lighten-3">A family cookbook over a 100 recipes</h5>
        </div>
      </li>
      <li>
        <img src="https://files.slack.com/files-pri/T0351JZQ0-F016CNZMZ9P/cooking_1920x1080-lead.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 style="color:black" position="bottom">Try our best recipes!</h3>
          <h5 style="color:black" class="light black-text text-lighten-1"> Search for recipes below.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/1660030/pexels-photo-1660030.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> <!-- random image -->
        <div class="caption right-align ">
          <h3 style="color:black" position="bottom">Stay Healthy</h3>
          <h5 style="color:black" class="light black-text text-lighten-1">Eat Healthy and enjoy the food!</h5>
        </div>
      </li>
      <li>
        <img src="https://media.giphy.com/media/2xPS9bJpkDXWvgcW4L/giphy.gif"> <!-- random image -->
        <div class="caption bottom-align">
          <h3 style="color:black" position="bottom" >Feel like a chef with</h3>
          <h2 style="color:black" position="bottom">  BAM!</h2>
        </div>
      </li>
    </ul>
  </div>




{% comment %} Search area {% endcomment %}
<section id="search" class="section section-search black white-text 
center scrollspy">
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>Search for Recipes </h4>
            <div class="input-field">
                <input type="text" class="white grey-text autocomplete" id="autocomplete-input" placeholder="Find the most delicious recipe here!">
                <input class="btn btn-default" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
 </section>
<br>
{% comment %} section favorite food {% endcomment %}

  <section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center">
          <span class="teal-text">Favorite</span> Recipes</h4>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image" height="150" width="42">
              <span class="card-title"></span>
            </div>
            <div class="card-content" "text-align:center" >
              <h6>Roasted Chicken
              </h6>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image" height="150" width="42">
              <span class="card-title"></span>
            </div>
            <div class="card-content" "text-align:center">
             <h6>Egg Benedicts
              </h6>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/674578/pexels-photo-674578.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image" height="150" width="42">
              <span class="card-title"></span>
            </div>
            <div class="card-content" "text-align:center">
              <h6>Turkey Tacos 
              </h6>
            </div>
          </div>
        </div>
      </div>
      
      </div>
    </div>
  </section>



  {% comment %} follow us info {% endcomment %}
{% comment %} <section class="section section-follow grey darken-2 white-text center">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p>Follow us on social media for new recipes!</p>
        <a href="https://www.facebook.com/profile.php?id=100052946640434&sk=timeline#_" target="_blank" class="white-text">
        <i class="fab fa-facebook fa-4x"></i>
        </a>
        <a href="https://www.instagram.com/banrecipes/" target="_blank" class="white-text">
        <i class="fa fa-instagram fa-4x"></i>
        </a>
			</div>
		</div>
	</div>
  </div>
</section> {% endcomment %}
{% endblock %}